    @import "mixin";
    @import "extend"; //不帶參數的mixin！！！！！！
    @import "variables";
    @import "reset";
    @import "browser";
    //以下是關於本網頁的scss
    @import "btn";
    .header {
        // background-color: $primary-color;
        width: 960px;
        max-width: $max-width;
        height: 100%;
        display: flex;
        @include m0auto; //載入名字叫m0auto 的mixin
        @extend %red; //載入名字叫 red 的 extend！！！！！！！
        @include bgc($primary-color); //載入名字叫bgc 的mixin 帶入參數￥primary-color！！！！！！
    }
    
    .content {
        @extend .header; //繼承.header的所有屬性！！！！！！！！
        margin: 200px auto; //更改部分屬性
        @include breakpoint(pad) {
            //RWD mixin !!!!!!!!!
            margin: 10px auto;
        }
        @include breakpoint(mobile) {
            margin: 0 auto;
            color: blue;
        }
    }